.navbar{
    background-color: #FFFFFF !important;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
}
ul{
    list-style: none;
}
.nav-link{
    color: #000000 !important;
}

.bg-dark,.btn-dark{
    background-color: #000000 !important;
}

.copyright{
    font-size: 14px;
}
.banner{
    background: linear-gradient(#00000056,#00000056), url(public/banner-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
}

.banner h2{
    font-size: 42px;
    padding-top: 200px;
}

.services .fa{
    font-size: 24px;
}

.fw-semibold{
    font-weight: 600;
}

.hero{
    background: linear-gradient(#00000056,#00000056), url(public/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0 100px;
}

.h-title{
    font-size: 40px;
}
.stars{
    font-size: 14px;
}
.fa-star{
    color: lightgray;
}

.fa-star.filled{
    color: #000000;
}
main{
    min-height: calc(100vh - 240px);
}

.profile-img{
    width: 240px;
    height: 240px;
    border-radius: 100%;
    object-fit: cover;
}